#container {
    background-color: rgb(191, 204, 206);
    width: 700px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.titulo{
    color:rgb(41, 55, 56);
    display: flex; 
    justify-content: center;
}

.arriba{
    background-color: black;
    width: 650px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.negro{
    width: 160px;;
    height: 160px; 
    padding: 20px;
}


.medio{
    background-color: rgb(146, 214, 219);
    width: 650px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.celeste{
    width: 160px;;
    height: 160px; 
    padding: 20px;
}

.abajo{
    background-color: white;
    width: 650px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}